<header class="header">
  <nav class="navbar">
    <div class="logo">
        <h2>XBlog</h2>
    </div>   
    <ul class="nav-links">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/add-post">Editor</a>
        </li>
    </ul>
    <a href="/admin" class="btn login-btn">Sign in</a>
    
    <div class="toggle-btn">
        <i class="fa-solid fa-bars"></i>
        <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
    </div>
</nav>

<nav class="sidebar open">        
    <ul class="side-links">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/add-post">Editor</a>
        </li>
        <li>
            <a href="/admin" class="">Sign in</a>
        </li>
    </ul>
</nav>

</header>